@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: #222;
    z-index: 1000;
}
.nav a {
    text-decoration: none;
}
#logo:hover {
    color: #ff5733;
    cursor: pointer;
}

#logo {
    color: #fff;
    font-size: 1.7rem;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li {
    list-style: none;
    padding-right: 50px;
}

#item li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

#item li a:hover {
    color: #ff5733;
    cursor: pointer;
}

#item .icon a i {
    color: #fff;
    font-weight: bolder;
    padding-right: 20px;
}

#item .icon a i:hover {
    color: #ff5733;
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    #item {
        display: none;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    #item {
        width: 100%;
        flex-direction: column;
    }
    li {
        text-align: center;
    }
    #item.active {
        display: flex;
    }
}

.back {
    background-image: url(homeBackground.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.back .overlay {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.mid p {
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.mid h2 {
    color: #fff;
    font-size: 3rem;
}

.mid .btn {
    margin-top: 2rem;
}

.mid .btn a {
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.borderless {
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}

.mid .btn a.borderless:hover {
    color: #ff5733;
}

.mid .btn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    border-radius: 3px;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}

.mid .btn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 12rem;
    background: #171819;
}

.about h3, h6, h5 {
    color: #fff;
}

.about .one {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about .one h3 {
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.about .one h6 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.1rem;
}

.about .one p {
    color: #666262;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
}

.about .one a {
    color: #fff;
    background: #ff5733;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.about .one a:hover {
    background: #fff;
    color: #ff5733;
}

.about .two {
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}

.about .two h3 {
    font-size: 2.5rem;
}

.about .two h5 {
    font-size: 1.1rem;
}

.about .two p {
    font-size: 1.1rem;
    color: #666262;
    margin-bottom: 0.8rem;
}

.programSection h2 {
    padding-top: 4.5rem;
    background: #666262;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

.programs {
    background: #666262;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.programs .programs1 {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
}

.programs .programs1 .img img {
    width: 100%;
    object-fit: cover;
}

.programs .programs1 .programDetails .name h4 {
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}

.programs .programs1 .programDetails .details p {
    padding: 1rem;
}

.contact {
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .form {
    width: 45%;
}

.contact .form h2 {
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .form .submit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact .form .submit input, .contact .form .submit textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #666262;
    outline: none;
    margin: 13px 0;
}

.contact .form .submit input::placeholder {
    color: #7f8c8d;
    font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder {
    color: #7f8c8d;
    font-size: 1.1rem;
    height: 80%;
}

.contact .form .submit a {
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #212529;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 13px 0;
}

.contact .map {
    width: 45%;
}
.contact .map h2 {
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .map p {
    font-size: 1.1rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .map iframe {
    width: 100%;
    padding-top: 10px;
}

.contact .map p i {
    color: #ff5733;
    padding-right: 4px;
}