@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: #222;
    z-index: 100000;
}

.nav h2 {
    color: #fff;
    font-size: 1.7rem;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li {
    list-style: none;
    padding-right: 50px;
}

#item li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

#item li a:hover {
    color: #ff5733;
    cursor: pointer;
}

#item .icon i {
    color: #fff;
    font-weight: bolder;
    padding-right: 20px;
}

#item .icon i:hover {
    color: #ff5733;
    cursor: pointer;
}

.back {
    background-image: url(homeBackground.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.back .overlay {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.mid p {
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.mid h2 {
    color: #fff;
    font-size: 3rem;
}

.mid .btn {
    margin-top: 2rem;
}

.mid .btn a {
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.borderless {
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}

.mid .btn a.borderless:hover {
    color: #ff5733;
}

.mid .btn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    border-radius: 3px;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}

.mid .btn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 12rem;
    background: #171819;
}

.about h3, h6, h5 {
    color: #fff;
}

.about .one {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about .one h3 {
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.about .one h6 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.1rem;
}

.about .one p {
    color: #666262;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
}

.about .one a {
    color: #fff;
    background: #ff5733;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.about .one a:hover {
    background: #fff;
    color: #ff5733;
}

.about .two {
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}

.about .two h3 {
    font-size: 2.5rem;
}

.about .two h5 {
    font-size: 1.1rem;
}

.about .two p {
    font-size: 1.1rem;
    color: #666262;
    margin-bottom: 0.8rem;
}